node_modules
.worktrees/
dist
out
.next
.turbo
coverage
*.tsbuildinfo
.DS_Store
apps/miniprogram/dist
apps/miniprogram/.swc
apps/miniprogram/project.private.config.json
apps/docs/public/r/*.json
!apps/docs/public/r/.gitkeep
!.npmrc
!pnpm-lock.yaml
!apps/miniprogram/project.config.json
