@import "@vekui/weapp/styles.css";
@import "weapp-tailwindcss/index.css";

@source "./**/*.{ts,tsx}";
@source "../../../packages/ui/src/**/*.{ts,tsx}";

page {
  min-height: 100%;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}
